/*setting*/
html, body { height: 100%; margin: 0; padding: 0;line-height:150%;}
body {
font-family:sans-serif;
/* background:url("/img/bg_preview.png"); */
}

a {color:#000;}
a:hover {}
a:active,a:hover,a:focus {text-decoration:none;}
a:active,a:focus,input,select,textarea {outline:none;}

a:link, a:visited { 
text-decoration:none;
}
a:link:active, a:visited:active { 
text-decoration:none;
}

p {padding:0;margin:0;}
ol, ul, li {margin:0;padding:0;}
li {list-style-type:none;}


.header_box{
position:relative;
}
.header_bar{
background:#fff;
height:50px;
box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
}
.header_bar .head_menu_btn{
padding-top:10px;
cursor:pointer;
display:inline-block;
}
.header_bar .header_logo{
padding-top:10px;
text-align:center; 
}
.header_bar .header_logo img{}
.header_bar .header_txt{
margin-left:10px;
color:#a6aaa9;
}
.head_menu_box{
/* margin-top:1px; */
border-top:1px solid #888;
background:#fff;
box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
padding:7px 15px;
position:absolute;
width:100%;
display:none;
z-index:9000;
}
.head_menu_box .head_menu_unit{
padding:10px 10px 10px 15px;
}
.head_menu_box .on_target{
background:#eee;
border-radius:4px;
}

.page_name{
margin:0 auto;
}
.page_name h2{
font-size:40px;
color:#53585f;
font-weight:bold;
}

.container{ min-height: 850px; } 
@media(max-width:720px) { .container {min-height: 400px;} }

.page_title{
margin-top:50px;
text-align:center;
color:#53585f;
}
.content{
margin-top:25px;
padding-bottom:10px;
margin-bottom:10px;
}
.content h1{
margin:0 auto;
}